{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
  <div class="alert alert-secondary" role="alert">
      <p>投稿者：{{object.user}}</p>
      <p>投稿内容：{{object.content}}</p>
      <p>投稿日時：{{object.created_at}}</p>
       
      {% if object.user == request.user %}
      <a href="{% url 'delete' object.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button" aria-disabled="true">削除</a>
      {% endif %}
  </div>
</div>
{% endblock content %}