{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container mt-3">
    {% for item in object_list %}
    <div class="alert alert-secondary" role="alert">
        <div class="box">
            <div class="nm">
                <span class="uname">{{item.user.username}}</span>
            </div>   
            <div class="dtl">
                <a href="{% url 'detail' item.pk %}">詳細</a>
            </div>
        </div>
        <div>
            <span class="content">{{item.content}}</span>
        </div>
        <div class="tmstmp">
            <span class="time">{{item.created_at}}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}